.wrapper {
    display: flex;
    /*border: 1px solid grey;*/
    background: linear-gradient(0deg, #00000000 20%, #f9f9f9ba 50%, #00000000 80%);
}
.wrapper:hover .hiddenBar {
    display: flex;
}
.hiddenBar {
    display: none;
    flex-direction: row;
    flex: 1;
}
.alignEnd {
    justify-content: flex-end;
}
.modal {
    padding: 10px;
}
.modalIcons {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.modalButtons {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.group {
    display: flex;
}
.group1 {
    display: flex;
    flex: 1;
}