.wrapper {

}

.topLine {
    background-color: #eff0ff;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
}

.pageContent {
    display: flex;
    justify-content: center;
}

.buttonGroup {
    display: flex;
}