.wrapper {
    position: relative;
    display: flex;
}
.role {
    border: 1px solid #00000042;
    margin-left: 5px;
    padding: 3px 5px;
    margin-top: 5px;
    border-radius: 4px;
    background-color: #f3dcf5;
}
.closeButton {
    position: absolute;
    top: 1px;
    right: -4px;
    cursor: pointer;
    color: red;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcefff;
    font-weight: bold;
}
.roleWrapper {
    display: flex;
    align-items: center;
}
.modal {
    padding: 10px;
}
.modalButtons {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}