.wrapper{
    margin: 2px;
    height: 2em;
    display: flex;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.reverse {
    flex-direction: row-reverse;
}

.element {
    display: flex;
    padding: 2px 4px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    font-weight: bold;
    color: var(--main-text-color);
    background-color: var(--bg-color);
    transition: color .3s, background-color .3s;
    align-items: center;
}

.element:hover {
    background-color: var(--main-text-color);
    color: var(--bg-color);
}

.element path{
    fill: var(--main-text-color);
    transition: fill .3s;
}

.element:hover path {
    fill: var(--bg-color);
}

.tooltip {
    pointer-events: none;
    position: absolute;
    /*visibility: hidden;*/
    /*opacity: 0;*/
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-property: opacity;
    background-color: black;
    color: #fff;
    top: 110%;
    width: 4em;
}
.wrapper:hover .tooltip {
    /*visibility: visible;*/
    /*opacity: 1;*/
}